<div class="jumbotron">
    <h1 class="display-4">TypeScript CRUD</h1>
    <p class="lead">
        En esta aplicación, he desarrollado un sistema CRUD utilizando TypeScript como lenguaje de programación, MongoDB como base de datos NoSQL, Node.js como entorno de ejecución del lado del servidor, Express como framework web y Handlebars como motor de plantillas.
        El acrónimo CRUD se refiere a las operaciones básicas de manipulación de datos: Crear (Create), Leer (Read), Actualizar (Update) y Eliminar (Delete).
    </p>
    <a href="/tasks/list" class="btn btn-primary btn-lg">Lista de Tareas</a>
</div>